<%# Write your code here! %>

<h1>Welcome!</h1>

<h3>If you tell me your name, I can say hi!</h3>

<form method="POST" action="/greet">
    <input type="text" name="user_name">
    <button>Submit</button>
</form>